<h4>Internal Server Error</h4>
@if (error) {
<h5 class="text-danger">Error: {{ error.message }}</h5>
<p class="font-weight-bold">
  Note: If you are seering this error, Angular is not to blame!
</p>
<p>What to do next?</p>
<ol>
  <li>Open Chrome dev tools and check network tab</li>
  <li>Examine URL of request</li>
  <li>Reproduce error in Postman</li>
</ol>
<p>Following is the stack trace - check first two lines</p>
<code class="mt-5" style="background-color: whitesmoke">{{
  error.details
}}</code>
}
